/* Color Theme Swatches in Hex */
$bigstock-Happy-young-1-hex: rgb(129, 81, 168);
$bigstock-Happy-young-2-hex: #d7e3ec;
$bigstock-Happy-young-3-hex: #fae360;
$bigstock-Happy-young-4-hex: #f0f1df;
$bigstock-Happy-young-5-hex: #f48e35;
