@import "./variables";
@import "./mixins";
@import "./responsive";

.card-container {
  @include flex(center, center);
  border-radius: 20px;
  width: 700px;
  height: auto;
  background-color: rgb(41, 40, 40);
  margin: 4rem auto;
  padding: 1rem;
}

.cards {
  @include flex(center, center);
  gap: 3rem;
  flex-wrap: wrap;
  padding: 3.3rem;
}

@include media-lg {
  .card-container {
    width: 600px;
  }
}

@include media-md {
  .card-container {
    width: 400px;
  }
}

@include media-sm {
  .card-container {
    width: 300px;
  }
}
