@import "./variables";


.card-container {
  border-radius: 20px;
  width: 700px;
  height: auto;
  background-color: rgb(41, 40, 40);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
  padding: 1rem;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  padding: 3.3rem;

}


@media screen  and (max-width:900px) {
    .card-container{

        width: 600px;
    }



   
}

@media screen  and (max-width:600px) {
    .card-container{

        width: 400px;
    }



   
}


@media screen  and (max-width:400px) {
    .card-container{

        width: 300px;
    }



   
}